.container {
  display: flex;
  justify-content: space-between;
}
.form {
  max-width: 400px;
  flex-grow: 1;
}
.image {
  flex-shrink: 0;
  margin-left: 64px;
}
@media (max-width: 767px) {
  .image {
    display: none;
  }
}
