.residentialCommercialIntro {
  margin-bottom: 0;
}
.residentialCommercialContainer {
  display: grid;
}
.image {
  margin-top: 32px;
}
@media (min-width: 768px) {
  .residentialCommercialContainer {
    grid-template-columns: auto 1fr;
    grid-column-gap: 80px;
  }
}
